/**
 * Count of Wolves main CSS file.
 *
 * This code is based on the
 * [Build a Countdown Timer in Just 18 Lines of JavaScript](https://www.sitepoint.com/build-javascript-countdown-timer-no-dependencies/)
 * tutorial.
 */

 @font-face {
  font-family: "digital-7 (mono)";
  src: url("fonts/digital-7 (mono).ttf") format("truetype");
}

body{
	text-align: center;
	background: black;
	font-family: "digital-7 (mono)";
	font-weight: 100;
}

h1{
	color: #396;
	font-weight: 100;
	font-size: 40px;
	margin: 40px 0px 20px;
}

#counter{
	font-weight: 100;
	text-align: center;
	font-size: 300px;
	margin: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-row-gap: 20%;
}

#counter .fg{
	color: red;
	background: transparent;
	z-index: 1;
}

#counter .bg{
	color: rgb(13% 13% 13%);
	z-index: 0;
}

#counter .hours{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#counter .minutes{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#counter .seconds{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

#counter .centiseconds{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

#counter .total-label{
	color: red;
	font-size: 80px;
	grid-area: 2 / 1 / span 1 / span 2;
}

#counter .total{
	font-size: 80px;
	grid-area: 2 / 3 / span 1 / span 2;
}
