/**
 * Count of Wolves main CSS file.
 *
 * This code is based on the
 * [Build a Countdown Timer in Just 18 Lines of JavaScript](https://www.sitepoint.com/build-javascript-countdown-timer-no-dependencies/)
 * tutorial.
 */

 @font-face {
  font-family: "digital-7 (mono)";
  src: url("fonts/digital-7 (mono).ttf") format("truetype");
}

:root{
	--counter-font-size: 300px;
	--debug-font-size: 80px;
	--counter-fg-color: red;
	--counter-bg-color: rgb(13% 13% 13%);
	--counter-shadow: 0 0 0.05em red, 0 0 0.1em rgba(100% 100% 0%);
}

body{
	text-align: center;
	background: black;
	font-family: "digital-7 (mono)";
	font-weight: 100;
}

h1{
	color: #396;
	font-weight: 100;
	font-size: 40px;
	margin: 40px 0px 20px;
}

.counter{
	font-weight: 100;
	text-align: center;
	font-size: var(--counter-font-size);
	margin: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20%;
}

.fg{
	color: var(--counter-fg-color);
	text-shadow: var(--counter-shadow);
	background: transparent;
	z-index: 1;
}

.bg{
	color: var(--counter-bg-color);
	background: transparent;
	z-index: 0;
}

.minutes{
	grid-area: 1 / 1 / span 1 / span 1;
}

.seconds{
	grid-area: 1 / 2 / span 1 / span 1;
}

.centiseconds{
	grid-area: 1 / 3 / span 1 / span 1;
}

.total-label{
	color: var(--counter-fg-color);
	text-shadow: var(--counter-shadow);
	font-size: var(--debug-font-size);
	grid-area: 2 / 1 / span 1 / span 1;
}

.total{
	font-size: var(--debug-font-size);
	grid-area: 2 / 2 / span 1 / span 2;
}
